<!DOCTYPE html>
<html>
<head>
<title> Transactions </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}


.container {
  padding: 16px;
  background-color: white;
}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.regbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.regbtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;
}


</style>
</head>
<body>

<form action="/usertran">
  <div class="container">
    <h1>Transactions made by the user (Sorted from oldest to newest)</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br>


    <button type="back" class="regbtn">Back</button>
    <button type="logout" class="regbtn">Logout</button>
  </div>


</body>
</html>
