<!DOCTYPE html>
<html>
<head>
<title> View User Transactions </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}


.container {
  padding: 16px;
  background-color: white;
}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.regbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.regbtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;
}


</style>
</head>
<body>

<form action="/viewusertransactions" method="POST">
  <div class="container">
    <h1>View User Transactions</h1>
    <hr>
    <label for = "First"><b>User Name</b></label>
    <input type="text" name="username">  </input>

    <hr>


    <button type="submit" class="regbtn">Submit</button>
    <button type="back" class="regbtn" onclick="window.location.href = 'adminHome';" >Back</button>
    <button type="logout" class="regbtn" onclick="window.location.href = 'logout';">Logout</button>
  </div>


</body>
</html>
